/* RESET CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* NAVBAR */
.mainNav {
    background-color: blueviolet;
    margin-bottom: 10px;
    min-height: 50px;
}

.mainNav ul {
    list-style-type: none;
}

.mainNav li {
    display: inline-block;
    margin-right: 10px;
}

.mainNav a {
    color: chartreuse;
    text-decoration: none;
}

.mainNav a.active {
    background-color: chocolate;
}


/* PAGINA RPRODOTTI */

.product-container {
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    margin: 0 auto;
    width: 70vw;
}

.card {
    flex-basis: calc(100% / 3 - 20px);
    background-color: #1e1d30;
    border: 1px solid #1f1fd0;
    border-radius: 10px;
    padding: 15px;
    color: white;
    text-align: center;
}

.product-image{
    max-width: 100%;
}

.product-title {}

.product-price {}

.product-category {}

.product-description {}